# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user*

CrackingTheCodeInterview/Rust/01_01_unique_characters/target/

CrackingTheCodeInterview/Rust/01_01_unique_characters/Cargo\.lock
